.navbar{
    width: 100vw;
    height: 36px;
    display: flex;
    justify-content: flex-end;
    padding-inline: 1.5%;
    box-shadow: 1px 1px black;
}

.navbar__icon{
    position: relative;
    font-size: 32px;
    cursor: pointer;
}

.navbar__item-count{
    user-select: none;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
    border-radius: 10px;
    background-color: orange;
}
