.shopList--section{
    background-color: rgba(0, 0, 0, 0.671);
    overflow: auto;
    position: absolute;
    top: 0;
    right: 0;
    padding: 20px;
    width: 40%;
    height: 100%;
}

.shopList--icon{
    color: white !important;
    font-size: 2em;
    cursor: pointer;
}

.shopList--title{
    color: white;
    font-size: 3em;
}

.shopList--checkout{
    color: white;
    border: 1px solid white;
    width: 100%;
    min-height: 1.5em;
    font-size: clamp(1em, 2.5vw, 2em);
    background-color: transparent;
    border-radius: 10px;
}