.product{
    display: flex;
    flex-direction: column;
    width: fit-content;
}

.product__img{
    width: 258px;
    height: 258px;
}

.product__button{
    cursor: pointer;
    font-size: 24px;
    background-color: transparent;
    border: 1px solid black;
}